<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>
<h2>Words for svelte kit</h2>

<script>
	let name = 'world';
</script>

What we;ve learned 
Svelte kit 
routes and then the file.svelte is called from 
usinrg fraf and then the start of the file name

test api page has an example of an API

<h1>Hello {name}!</h1>
<h3>route learning</h3>
<a href="testpage">svelte </a>


<h3>api test</h3>
<a href="testapi">svelte api </a>

<h3><a href=testdog>  dogtest</a></h3>
