<script>
    import { onMount } from 'svelte';
    let data = [];
    onMount(async () => {
        const res = await fetch('https://jsonplaceholder.typicode.com/users');
        data = await res.json();
    });
</script>
<p>{JSON.stringify(data)}</p>
<ul>
    {#each data as user}
        <li>{user.name}</li>
    {/each}
</ul>