<script>
  import { onMount } from 'svelte';
    let data = [];
    onMount(async () => {
        const res = await fetch('https://api.directual.com/good/api/v5/data/dog/dog_details?appID=2a25f1e1-dec5-408f-b87b-cb5249c98e88&sessionID=b8163e95-c36f-4814-b9a1-6628a44aaa39');
        data = await res.json();
    });

    let depthchart = [];
    onMount(async () => {
        const response = await fetch('https://my.api.mockaroo.com/depth_chart_page_api_example.json?key=f769ab80');
        depthchart = await response.json();
    });
   data = JSON.stringify(data);
   console.log("object: ", data)
</script>



<p>{JSON.stringify(data)}</p>

<p>{JSON.stringify(depthchart)}</p>
<ul>
    {#each depthchart as player}
        <li>{player.id}</li>
    {/each}
</ul>